@charset "UTF-8";

body{ 
    background-color: rgb(212, 211, 209);
}

main{
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    line-height: 2em;
    text-indent: 2em;
    padding: 30px;
    margin: 10px;
    box-shadow: 0px 0px 5px black;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 30px;
      
}

main h1 {
    background-color: rgb(189, 194, 194);
    color: rgb(184, 167, 219); 
}

main h2 {
    background-color: rgb(158, 182, 182);
    color: rgb(95, 15, 243);
    text-align: center;    
}

main h3 {
    text-align: center;
    color: rgb(189, 194, 194);
}

main img {
    width: 100%;
}

header {
    color: rgb(48, 8, 8);
    background: linear-gradient(to right, rgb(182, 137, 137), rgb(117, 112, 112));
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    padding: 15px;
    font-size: 25px;
       
}

header > p {
    color: rgb(48, 8, 8);
    margin-top: 20px;
    padding-bottom: 50px;
}

nav{

    background: rgb(227, 227, 239);
    color: rgb(133, 109, 182);
    padding: 15px;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: 20px;
    
}

nav > a {
    color: rgb(48, 8, 8);
    text-decoration: none;
    margin: 29px;
}


article > h1 {
    text-align: center;
    background: linear-gradient(to right, rgb(66, 60, 60), rgb(250, 249, 249));
    color: rgb(109, 3, 3);
}

article > h2  {
    background: linear-gradient(to right, rgb(34, 30, 30), rgb(250, 249, 249));
    color: rgb(109, 3, 3);
}

article h3  {
    background: linear-gradient(to right, rgb(34, 30, 30), rgb(250, 249, 249));
    color: rgb(109, 3, 3);
    }

strong {
    color: rgb(34, 165, 1);
    text-decoration: underline;
}


div.video {
    background-color: rgb(106, 101, 110);
    margin: 0px -20px 30px --20px ;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;   
}

footer{
    background-color: rgb(115, 118, 119);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    color: rgb(44, 6, 6);
}